.form-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
    order: 0;
    border-radius: 8px;
    margin: auto;
    background-color: white;
}



.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
  }
  


  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #9e2d28;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #9e2d28;
    cursor: pointer;
  }

  .form {
    align-items: left;
    text-align: left;
  }

  button {
    display: inline-block;
    padding: 12px 28px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #303e5d;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #212c3d}
  
  button:active {
    background-color: #212c3d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  